<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16B2657</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AMD4600Controller</string>
	<key>CFBundleGetInfoString</key>
	<string>AMD4600Controller 1.66.42 19699</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.kext.AMD4600Controller</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Radeon HD 4600 Controller</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.66.42</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.6.6</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9P107g</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17F68</string>
	<key>DTSDKName</key>
	<string>macosx10.13internal</string>
	<key>DTXcode</key>
	<string>0930</string>
	<key>DTXcodeBuild</key>
	<string>9P107g</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Controller</key>
		<dict>
			<key>ATY,Gliff</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_USE_USCN</key>
					<true/>
				</dict>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMD4600Controller</string>
			<key>IOClass</key>
			<string>AMD4600Controller</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOName</key>
			<string>AMD4600Controller</string>
			<key>IOPCIMatch</key>
			<string>0x94901002 0x94881002</string>
			<key>IOProbeScore</key>
			<integer>65050</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_NO_PP</key>
				<false/>
				<key>CFG_PAA</key>
				<integer>0</integer>
				<key>CFG_USE_USCN</key>
				<false/>
			</dict>
			<key>aty_properties</key>
			<dict>
				<key>PP_GFXClockGatingEnabled</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.2</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.3</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.2</string>
		<key>com.apple.kext.AMDLegacySupport</key>
		<string>1.6.6</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
