.DS_Store
OCLP-GUI.command
/payloads/Apple
/payloads/Apple.zip
/payloads/__MACOSX
/App
/Build-Folder
/build
/dist
/.vscode
__pycache__/
*.kext
*.py[cod]
*$py.class
/docs/.vuepress/dist
/docs/.vuepress/.config.js.swp
/docs/yarn.lock
/docs/yarn-error.log
/docs/node_modules/