[MASTER]

init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"

[MESSAGES CONTROL]

disable=unused-import,
        subprocess-run-check,
        line-too-long,
        too-few-public-methods,
        missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring