<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>OpenCore-Patcher.command</string>
	<key>CFBundleIconFile</key>
	<string>OC-Patcher.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.dortania.OpenCore-Patcher</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>0.0</string>
	<key>CFBundleName</key>
	<string>OpenCore-Patcher</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2020 Dortania</string>
</dict>
</plist>
