<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>OpenCore-Patcher</string>
	<key>CFBundleExecutable</key>
	<string>OpenCore-Patcher</string>
	<key>CFBundleIconFile</key>
	<string>OC-Patcher.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.dortania.opencore-legacy-patcher-helper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OpenCore-Patcher</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020-2023 Dortania</string>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
