<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>pmspFile</key>
    <integer>1</integer>
    <key>IOPlatformPowerProfile</key>
    <dict>
      <key>enabler</key>
      <true/>
      <key>AGPM</key>
      <true/>
      <key>ASPM</key>
      <true/>
      <key>StandbyDelayHigh</key>
      <integer>86400</integer>
      <key>StandbyDelay</key>
      <integer>86400</integer>
      <key>StandbyBatteryThreshold</key>
      <integer>50</integer>
      <key>AutoPowerOff</key>
      <true/>
      <key>ProximityWake</key>
      <integer>0</integer>
      <key>IOPlatformSystemSleepPolicy</key>
      <data>U0xQVAIAFQAAHhAAAAAAAAAVAAAABQAABgAAAAAAAAAABQAAAAAAACAAAAAgAAAAAAAAAAAAAAAF
AAAAAAAAAAABAAAAAAAAAAAEAAAABAAAAAAAAAAAAAYAAAAAAAAAAAUAAAAAAAAAAAEAAAABAAAA
AAAAAAAABAAAAAAAAAAAAQAAAAAAAEAeEAAAAAAAGBEAABgBAAAFAAAAAgAAAAAJAAAAAAAAQAYA
AAAAAAAYAAAAGAAAAAUAAAAAAAAAAAEAAAAAAABAHhAAAAAAACgRAAAgAQAABQAAAAIAAAAACQAA
AAAAAEAGEAAAABAAIEAAACBAAAACAAAACAAAAAANAAAAAAAAQAYQAAAAEAAAwAAAAMAAAAIAAAAI
AAAAAA0AAAAAAABABgAAAAAAAAiAAAAIgAAABQAAAAAAAAAAAQAAAAAAAEAGAAAAAAAAKAAAACAA
AAAFAAAAAAAAAAABAAAAAAAAUB4QABAAAAAAEQAAAAEAAAUAAAACAAAAAAkAAAAAAABQBgAAEAAA
AAAAAAAAAAAABQAAAAAAAAAAAQAAAAAAAAAeEAAAAAAAABkAAAAJAAAGAAAAAAAAAAAFAAAAAAAA
AB4QAAAAAAAIEQAACAEAAAYAAAAAAAAAAAUAAAAAAAAAHhAAAAAAAEARAABAAQAABgAAAAAAAAAA
BQAAAAAAAEAeEABAAAAABhEAAAYBAAADAAAAAgAAAAANAAAAAAAAQB4QAEAAAAAAEQAAAAEAAAIA
AAACAAAAAA0AAAAAAABABgAAAAAAAAAAAAAAAAAAAgAAAAEAAAAADQAAAAAAAEAAAABAAAAABgAA
AAYAAAADAAAAAAAAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAAAUAAAAAAAA=</data>
      <key>FanThrottledRPM</key>
      <integer>1200</integer>
      <key>ForceFanMax</key>
      <false/>
      <key>StepContextDict</key>
      <dict>
        <key>Normal</key>
        <data>
XAQAAAAAAQIEAAACAgAAVQBuAHMAcABlAGMAaQBmAGkAZQBkDAAH/wcAAA0AAAACAAAB//8A/wD/
AP8A/wD/AAYAAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wAL
DwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD
/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/
AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsP
AAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/
AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8B
AAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8A
AP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8A
Cw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEA
A/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA
/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wAL
DwAA/wEAA/8ACw8AAP8BAAP/AAsKAAABCgAAAQAAAAEAAAD1AAEFAAABAAAF/wABAAAAAQAAAAEG
AAACAAAABAEAAIAAwwC3AC4ANAALAAAAAgAAAAEAAAABAAAAAgAAAAICAAACBgAAAQAAAAEAAAD1
AAEFAAADAAAF/wADAgAAAwYAAAkAAAAEAAAAZAYAAAQAAAX/AAMAAAABAAAABAQAAIAAAAAKCgAA
CAAAAAUAAAAIAAAABQAAAAMAAAACAAAABQYAAAcAAAABAAAA9QABBQAABgAABf8AAwAAAAMAAAAG
BgAAAgAAAAQAAACgAA8FAAAHBAAABwAAAAMAAAAEAAAABwYAAAgKAAADAAAF/wAEAgAACAYAAAEA
AAABAAAA9AABBQAACQAABf8ABQIAAAkGAAACAAAABAEAAIAAwwC3AC4ANAALAAAACQAAAAoAAAAJ
AAAACgAAAAUAAAABAAAACgYAAAcAAAABAAAA9QABBQAACwAABf8ABQAAAAIAAAALBgAAAgAAAAQA
AACgAA8FAAAMBAAADAAAAAUAAAADAAAADAYAAAgKAAAJAAAF/w==
</data>
        <key>Background</key>
        <data>
XAQAAAAAAQIEAAACAgAAVQBuAHMAcABlAGMAaQBmAGkAZQBkDAAH/wcAAA0AAAACAAAB//8A/wD/
AP8A/wD/AAYAAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wAL
DwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD
/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/
AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsP
AAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/
AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8B
AAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8A
AP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8A
Cw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEA
A/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA
/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wAL
DwAA/wEAA/8ACw8AAP8BAAP/AAsKAAABCgAAAQAAAAEAAAD1AAEFAAABAAAF/wABAAAAAQAAAAEG
AAACAAAABAEAAIAAwwC3AC4ANAALAAAAAgAAAAEAAAABAAAAAgAAAAICAAACBgAAAQAAAAEAAAD1
AAEFAAADAAAF/wADAgAAAwYAAAkAAAAEAAAAZAYAAAQAAAX/AAMAAAABAAAABAQAAIAAAAAKCgAA
CAAAAAUAAAAIAAAABQAAAAMAAAACAAAABQYAAAcAAAABAAAA9QABBQAABgAABf8AAwAAAAMAAAAG
BgAAAgAAAAQAAACgAA8FAAAHBAAABwAAAAMAAAAEAAAABwYAAAgKAAADAAAF/wAEAgAACAYAAAEA
AAABAAAA9AABBQAACQAABf8ABQIAAAkGAAACAAAABAEAAIAAwwC3AC4ANAALAAAACQAAAAoAAAAJ
AAAACgAAAAUAAAABAAAACgYAAAcAAAABAAAA9QABBQAACwAABf8ABQAAAAIAAAALBgAAAgAAAAQA
AACgAA8FAAAMBAAADAAAAAUAAAADAAAADAYAAAgKAAAJAAAF/w==
</data>
        <key>RealTime</key>
        <data>
XAQAAAAAAQIEAAACAgAAVQBuAHMAcABlAGMAaQBmAGkAZQBkDAAH/wcAAA0AAAACAAAB//8A/wD/
AP8A/wD/AAYAAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wAL
DwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD
/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/
AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsP
AAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/
AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8B
AAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8A
AP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8A
Cw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEA
A/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA
/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wAL
DwAA/wEAA/8ACw8AAP8BAAP/AAsKAAABCgAAAQAAAAEAAAD1AAEFAAABAAAF/wABAAAAAQAAAAEG
AAACAAAABAEAAIAAwwC3AC4ANAALAAAAAgAAAAEAAAABAAAAAgAAAAICAAACBgAAAQAAAAEAAAD1
AAEFAAADAAAF/wADAgAAAwYAAAkAAAAEAAAAZAYAAAQAAAX/AAMAAAABAAAABAQAAIAAAAAKCgAA
CAAAAAUAAAAIAAAABQAAAAMAAAACAAAABQYAAAcAAAABAAAA9QABBQAABgAABf8AAwAAAAMAAAAG
BgAAAgAAAAQAAACgAA8FAAAHBAAABwAAAAMAAAAEAAAABwYAAAgKAAADAAAF/wAEAgAACAYAAAEA
AAABAAAA9AABBQAACQAABf8ABQIAAAkGAAACAAAABAEAAIAAwwC3AC4ANAALAAAACQAAAAoAAAAJ
AAAACgAAAAUAAAABAAAACgYAAAcAAAABAAAA9QABBQAACwAABf8ABQAAAAIAAAALBgAAAgAAAAQA
AACgAA8FAAAMBAAADAAAAAUAAAADAAAADAYAAAgKAAAJAAAF/w==
</data>
      </dict>
      <key>DarkWakeServices</key>
      <dict>
        <key>DarkWakeBackgroundTasks</key>
        <integer>0</integer>
        <key>SleepServices</key>
        <integer>1</integer>
        <key>SleepServicesModes</key>
        <dict>
          <key>ModeA</key>
          <dict>
            <key>Expiration</key>
            <integer>0</integer>
            <key>BatteryFloor</key>
            <integer>0</integer>
            <key>BaseIntervals</key>
            <dict>
              <key>AC</key>
              <dict>
                <key>BaseSleepInterval</key>
                <integer>3600</integer>
                <key>BaseWakeCapInterval</key>
                <integer>86400</integer>
              </dict>
              <key>Battery</key>
              <dict>
                <key>BaseSleepInterval</key>
                <integer>3600</integer>
                <key>BaseWakeCapInterval</key>
                <integer>180</integer>
              </dict>
            </dict>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>
