<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>AMC-Override</string>
	<key>CFBundleIdentifier</key>
	<string>com.dortania.AMC-Override</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AMC-Override</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>9.9.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>9.9.9</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleMuxControl</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleMuxControl</string>
			<key>Config1</key>
			<dict>
				<key>BacklightSmoothing</key>
				<integer>8</integer>
				<key>DebounceAppExit</key>
				<integer>0</integer>
				<key>DebounceHDP</key>
				<integer>0</integer>
				<key>EnergySavingPolicy</key>
				<integer>1</integer>
				<key>FBDriver0</key>
				<string>AppleIntelFramebuffer</string>
				<key>FBDriver1</key>
				<string>NVDATesla,NVDA</string>
				<key>FeatureMask</key>
				<integer>132096</integer>
				<key>GLDriver0</key>
				<string>Gen575</string>
				<key>GLDriver1</key>
				<string>NVKernel</string>
				<key>GPUMinimumOffTime</key>
				<integer>50</integer>
				<key>HDADriver1</key>
				<string>AppleHDAController</string>
				<key>NumberFramebuffers0</key>
				<integer>1</integer>
				<key>NumberFramebuffers1</key>
				<integer>2</integer>
				<key>Policy</key>
				<integer>48</integer>
			</dict>
			<key>Config2</key>
			<dict>
				<key>BacklightSmoothing</key>
				<integer>8</integer>
				<key>ClamshellVendorWorkaround</key>
				<integer>1</integer>
				<key>DebounceAppExit</key>
				<integer>0</integer>
				<key>DebounceHDP</key>
				<integer>0</integer>
				<key>DisableTerminationControl</key>
				<integer>0</integer>
				<key>EnergySavingPolicy</key>
				<integer>1</integer>
				<key>FBDriver0</key>
				<string>AppleIntelFramebuffer</string>
				<key>FBDriver1</key>
				<string>ATIFramebufferNI</string>
				<key>FeatureMask</key>
				<integer>132096</integer>
				<key>GLDriver0</key>
				<string>Gen6Accelerator,Gen575</string>
				<key>GLDriver1</key>
				<string>ATIRadeonX3000,AMDTurksGraphicsAccelerator,AMDCaicosGraphicsAccelerator</string>
				<key>GPUMinimumOffTime</key>
				<integer>50</integer>
				<key>HDADriver1</key>
				<string>AppleHDAController</string>
				<key>HPDInterval</key>
				<integer>2000</integer>
				<key>NumberFramebuffers0</key>
				<integer>1</integer>
				<key>NumberFramebuffers1</key>
				<integer>3</integer>
				<key>Policy</key>
				<integer>48</integer>
				<key>PowerUpDownSequence</key>
				<integer>1</integer>
				<key>PowerUpPCILinkOnSleep</key>
				<integer>1</integer>
				<key>SpreadSpectrumControl</key>
				<integer>1</integer>
			</dict>
			<key>Config3</key>
			<dict>
				<key>BacklightSmoothing</key>
				<integer>8</integer>
				<key>DebounceAppExit</key>
				<integer>0</integer>
				<key>DebounceHDP</key>
				<integer>0</integer>
				<key>DisableTerminationControl</key>
				<integer>0</integer>
				<key>EnergySavingPolicy</key>
				<integer>1</integer>
				<key>FBDriver0</key>
				<string>AppleIntelFramebuffer</string>
				<key>FBDriver1</key>
				<string>NVDATesla,NVDA</string>
				<key>FeatureMask</key>
				<integer>132096</integer>
				<key>GLDriver0</key>
				<string>Gen7Accelerator,IntelAcceleratorClassic,IntelAccelerator</string>
				<key>GLDriver1</key>
				<string>NVKernel,nvAccelerator</string>
				<key>GPUMinimumOffTime</key>
				<integer>50</integer>
				<key>HDADriver1</key>
				<string>AppleHDAController</string>
				<key>HPDInterval</key>
				<integer>2000</integer>
				<key>NumberFramebuffers0</key>
				<integer>1</integer>
				<key>NumberFramebuffers1</key>
				<integer>4</integer>
				<key>Policy</key>
				<integer>48</integer>
				<key>PowerUpCompensation</key>
				<integer>0</integer>
				<key>PowerUpDownSequence</key>
				<integer>1</integer>
				<key>PowerUpPCILinkOnSleep</key>
				<integer>1</integer>
				<key>StartUpDelay</key>
				<integer>5000</integer>
			</dict>
			<key>Config4</key>
			<dict>
				<key>BacklightSmoothing</key>
				<integer>8</integer>
				<key>DebounceAppExit</key>
				<integer>0</integer>
				<key>DebounceHDP</key>
				<integer>0</integer>
				<key>DisableTerminationControl</key>
				<integer>0</integer>
				<key>EnergySavingPolicy</key>
				<integer>1</integer>
				<key>FBDriver0</key>
				<string>AppleIntelFramebuffer</string>
				<key>FBDriver1</key>
				<string>NVDA</string>
				<key>FeatureMask</key>
				<integer>132096</integer>
				<key>GLDriver0</key>
				<string>Gen7Accelerator,IntelAcceleratorClassic,IntelAccelerator</string>
				<key>GLDriver1</key>
				<string>NVKernel,nvAccelerator</string>
				<key>GPUMinimumOffTime</key>
				<integer>50</integer>
				<key>HDADriver1</key>
				<string>AppleHDAController</string>
				<key>HPDInterval</key>
				<integer>2000</integer>
				<key>NumberFramebuffers0</key>
				<integer>1</integer>
				<key>NumberFramebuffers1</key>
				<integer>4</integer>
				<key>Policy</key>
				<integer>48</integer>
				<key>PowerUpCompensation</key>
				<integer>0</integer>
				<key>PowerUpDownSequence</key>
				<integer>1</integer>
				<key>PowerUpPCILinkOnSleep</key>
				<integer>1</integer>
			</dict>
			<key>Config5</key>
			<dict>
				<key>BacklightSmoothing</key>
				<integer>8</integer>
				<key>DebounceAppExit</key>
				<integer>0</integer>
				<key>DebounceHDP</key>
				<integer>0</integer>
				<key>DisableTerminationControl</key>
				<integer>0</integer>
				<key>EnergySavingPolicy</key>
				<integer>1</integer>
				<key>FBDriver0</key>
				<string>AppleIntelFramebuffer</string>
				<key>FBDriver1</key>
				<string>NVDA</string>
				<key>FeatureMask</key>
				<integer>132096</integer>
				<key>GLDriver0</key>
				<string>IntelAccelerator</string>
				<key>GLDriver1</key>
				<string>NVKernel,nvAccelerator</string>
				<key>GPUMinimumOffTime</key>
				<integer>50</integer>
				<key>HDADriver1</key>
				<string>AppleHDAController</string>
				<key>HPDInterval</key>
				<integer>2000</integer>
				<key>NumberFramebuffers0</key>
				<integer>1</integer>
				<key>NumberFramebuffers1</key>
				<integer>4</integer>
				<key>Policy</key>
				<integer>48</integer>
				<key>PowerUpCompensation</key>
				<integer>1</integer>
				<key>PowerUpDownSequence</key>
				<integer>3</integer>
				<key>SaveRootPort</key>
				<integer>2</integer>
				<key>StartUpDelay</key>
				<integer>5000</integer>
			</dict>
			<key>Config6</key>
			<dict>
				<key>BacklightSmoothing</key>
				<integer>8</integer>
				<key>ClamshellVendorWorkaround</key>
				<integer>1</integer>
				<key>DebounceAppExit</key>
				<integer>0</integer>
				<key>DebounceHDP</key>
				<integer>0</integer>
				<key>DisableTerminationControl</key>
				<integer>0</integer>
				<key>EnergySavingPolicy</key>
				<integer>1</integer>
				<key>FBDriver0</key>
				<string>AppleIntelFramebuffer</string>
				<key>FBDriver1</key>
				<string>AMDFramebufferSI</string>
				<key>FeatureMask</key>
				<integer>132096</integer>
				<key>GLDriver0</key>
				<string>IntelAccelerator</string>
				<key>GLDriver1</key>
				<string>AMDVerdeGraphicsAccelerator,AMDRadeonX4000_AMDVerdeGraphicsAccelerator</string>
				<key>GPUMinimumOffTime</key>
				<integer>50</integer>
				<key>HDADriver1</key>
				<string>AppleHDAController</string>
				<key>HPDInterval</key>
				<integer>2000</integer>
				<key>NumberFramebuffers0</key>
				<integer>1</integer>
				<key>NumberFramebuffers1</key>
				<integer>6</integer>
				<key>Policy</key>
				<integer>48</integer>
				<key>PowerUpDownSequence</key>
				<integer>3</integer>
				<key>SaveRootPort</key>
				<integer>2</integer>
				<key>SpreadSpectrumControl</key>
				<integer>1</integer>
			</dict>
			<key>Config7</key>
			<dict>
				<key>BacklightSmoothing</key>
				<integer>8</integer>
				<key>ClamshellVendorWorkaround</key>
				<integer>1</integer>
				<key>DebounceAppExit</key>
				<integer>0</integer>
				<key>DebounceHDP</key>
				<integer>0</integer>
				<key>DisableTerminationControl</key>
				<integer>0</integer>
				<key>EnergySavingPolicy</key>
				<integer>1</integer>
				<key>FBDriver0</key>
				<string>AppleIntelFramebuffer</string>
				<key>FBDriver1</key>
				<string>AMDFramebufferVIB</string>
				<key>FeatureMask</key>
				<integer>136192</integer>
				<key>GLDriver0</key>
				<string>IntelAccelerator</string>
				<key>GLDriver1</key>
				<string>AMDRadeonX4100_AMDBaffinGraphicsAccelerator,AMDBaffinGraphicsAccelerator,AMDRadeonX4150_AMDBaffinGraphicsAccelerator,AMDRadeonX4000_AMDBaffinGraphicsAccelerator</string>
				<key>GPUMinimumOffTime</key>
				<integer>50</integer>
				<key>HDADriver1</key>
				<string>AppleHDAController</string>
				<key>HDADriver2</key>
				<string>AppleGFXHDAController</string>
				<key>HPDInterval</key>
				<integer>2000</integer>
				<key>HPDMask</key>
				<integer>15</integer>
				<key>Internal324</key>
				<true/>
				<key>NumberFramebuffers0</key>
				<integer>1</integer>
				<key>NumberFramebuffers1</key>
				<integer>5</integer>
				<key>Policy</key>
				<integer>48</integer>
				<key>PowerUpDownSequence</key>
				<integer>3</integer>
				<key>SaveRootPort</key>
				<integer>2</integer>
				<key>SpreadSpectrumControl</key>
				<integer>1</integer>
			</dict>
			<key>ConfigMap</key>
			<dict>
				<key>04XX</key>
				<string>Config1</string>
				<key>06XX</key>
				<string>Config2</string>
				<key>07XX</key>
				<string>Config3</string>
				<key>08XX</key>
				<string>Config5</string>
				<key>0AXX</key>
				<string>Config6</string>
				<key>0BXX</key>
				<string>Config7</string>
				<key>MacBookPro9,1</key>
				<string>Config4</string>
			</dict>
			<key>Default</key>
			<dict>
				<key>EnergySavingPolicy</key>
				<integer>1</integer>
				<key>FBDriver0</key>
				<string>NVDATesla,NVDA</string>
				<key>FBDriver1</key>
				<string>NVDATesla,NVDA</string>
				<key>GLDriver0</key>
				<string>NVKernel</string>
				<key>GLDriver1</key>
				<string>NVKernel</string>
			</dict>
			<key>IOClass</key>
			<string>AppleMuxControl</string>
			<key>IOMatchCategory</key>
			<string>AppleMuxControl</string>
			<key>IONameMatch</key>
			<string>GMUX</string>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>IOUserClientClass</key>
			<string>AppleGraphicsControlClient</string>
			<key>LionOS</key>
			<integer>1</integer>
			<key>IOProbeScore</key>
			<integer>1000</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © Dortania</string>
	<key>#OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleMuxControl</key>
		<string>5.2.7</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
