<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18A391024</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleBCM5701Ethernet</string>
	<key>CFBundleGetInfoString</key>
	<string>Apple Broadcom 57XX Ethernet 10.3.5, Copyright 2002-2013 Apple Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.AppleBCM5701Ethernet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleBCM5701Ethernet</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>10.3.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>10.3.5</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11O62d</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>10.15.6</string>
	<key>DTSDKBuild</key>
	<string>19G829</string>
	<key>DTSDKName</key>
	<string>macosx10.15internal</string>
	<key>DTXcode</key>
	<string>1140</string>
	<key>DTXcodeBuild</key>
	<string>11O62d</string>
	<key>EXTMemorySupport</key>
	<string></string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>PCI Matching</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleBCM5701Ethernet</string>
			<key>Configuration Data</key>
			<dict>
				<key>Batch_ARP_Enable</key>
				<true/>
				<key>EnableRxHwCksum</key>
				<true/>
				<key>EnableTxHwCksum</key>
				<true/>
				<key>JumboRcvThreshold</key>
				<integer>5</integer>
				<key>MTU</key>
				<integer>9018</integer>
				<key>PassUpCRC</key>
				<false/>
				<key>RxCoalescingTicks</key>
				<integer>25</integer>
				<key>RxCoalescingTicksDuringInt</key>
				<integer>120</integer>
				<key>RxJumboRcvBuffers</key>
				<integer>128</integer>
				<key>RxMaxCoalescedFrames</key>
				<integer>15</integer>
				<key>RxMaxCoalescedFramesDuringInt</key>
				<integer>15</integer>
				<key>RxStdRcvBuffers</key>
				<integer>510</integer>
				<key>StdRcvThreshold</key>
				<integer>8</integer>
				<key>TxCoalescingTicks</key>
				<integer>150</integer>
				<key>TxCoalescingTicksDuringInt</key>
				<integer>150</integer>
				<key>TxMaxCoalescedFrames</key>
				<integer>64</integer>
				<key>TxMaxCoalescedFramesDuringInt</key>
				<integer>64</integer>
				<key>TxPacketQueueSize</key>
				<integer>1024</integer>
				<key>TxSendBuffers</key>
				<integer>500</integer>
				<key>WOL</key>
				<string>Enable</string>
			</dict>
			<key>IOClass</key>
			<string>BCM5701Enet</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IONameMatch</key>
			<array>
				<string>pci14e4,1684</string>
				<string>pci14e4,16b0</string>
				<string>pci14e4,16b4</string>
				<string>pci14e4,1682</string>
				<string>pci14e4,1686</string>
			</array>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOPlatformPanicAction</key>
			<integer>89000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2002-2013 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.mDNSOffloadUserClient</key>
		<string>1.0.0d6</string>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.2.0</string>
		<key>com.apple.iokit.IOEthernetAVBController</key>
		<string>1.0.3b2</string>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.5.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.6</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.private</key>
		<string>13.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
