<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241111</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleGraphicsDevicePolicy</string>
	<key>CFBundleGetInfoString</key>
	<string>6.2.9, Copyright 2008-2022 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleGraphicsDevicePolicy</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleGraphicsDevicePolicy</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>6.2.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>6.2.9</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12E6178j</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.3</string>
	<key>DTSDKBuild</key>
	<string>20E205c</string>
	<key>DTSDKName</key>
	<string>macosx11.3internal</string>
	<key>DTXcode</key>
	<string>1240</string>
	<key>DTXcodeBuild</key>
	<string>12E6178j</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleGraphicsDevicePolicy</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleGraphicsDevicePolicy</string>
			<key>Config1</key>
			<dict>
				<key>GFX1</key>
				<dict>
					<key>unload</key>
					<true/>
				</dict>
			</dict>
			<key>Config2</key>
			<dict>
				<key>GFX0</key>
				<dict>
					<key>EDID</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
					</dict>
					<key>FeatureControl</key>
					<integer>12</integer>
					<key>unload</key>
					<false/>
				</dict>
			</dict>
			<key>Config3</key>
			<dict>
				<key>GFX0</key>
				<dict>
					<key>EDID</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
					</dict>
					<key>FeatureControl</key>
					<integer>12</integer>
					<key>unload</key>
					<false/>
				</dict>
				<key>IGPU</key>
				<dict>
					<key>unload</key>
					<true/>
				</dict>
			</dict>
			<key>Config4</key>
			<dict>
				<key>GFX0</key>
				<dict>
					<key>EDID</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
					</dict>
					<key>FeatureControl</key>
					<integer>12</integer>
					<key>unload</key>
					<false/>
				</dict>
				<key>IGPU</key>
				<dict>
					<key>unload</key>
					<true/>
				</dict>
				<key>display</key>
				<dict>
					<key>EDID</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
					</dict>
					<key>FeatureControl</key>
					<integer>12</integer>
					<key>unload</key>
					<false/>
				</dict>
			</dict>
			<key>ConfigMap</key>
			<dict>
				<key>Mac-00BE6ED71E35EB86</key>
				<string>none</string>
				<key>Mac-031B6874CF7F642A</key>
				<string>Config2</string>
				<key>Mac-27ADBB7B4CEE8E61</key>
				<string>none</string>
				<key>Mac-42FD25EABCABB274</key>
				<string>Config2</string>
				<key>Mac-4B7AC7E43945597E</key>
				<string>none</string>
				<key>Mac-63001698E7A34814</key>
				<string>Config3</string>
				<key>Mac-65CE76090165799A</key>
				<string>Config2</string>
				<key>Mac-77EB7D7DAF985301</key>
				<string>none</string>
				<key>Mac-77F17D7DA9285301</key>
				<string>Config3</string>
				<key>Mac-7BA5B2D9E42DDD94</key>
				<string>Config4</string>
				<key>Mac-81E3E92DD6088272</key>
				<string>Config2</string>
				<key>Mac-AA95B1DDAB278B95</key>
				<string>Config3</string>
				<key>Mac-AF89B6D9451A490B</key>
				<string>Config3</string>
				<key>Mac-B809C3757DA9BB8D</key>
				<string>Config2</string>
				<key>Mac-BE088AF8C5EB4FA2</key>
				<string>Config3</string>
				<key>Mac-C3EC7CD22292981F</key>
				<string>none</string>
				<key>Mac-C9CF552659EA9913</key>
				<string>none</string>
				<key>Mac-CFF7D910A743CAAF</key>
				<string>Config3</string>
				<key>Mac-DB15BD556843C820</key>
				<string>Config2</string>
				<key>Mac-F60DEB81FF30ACF6</key>
				<string>Config1</string>
				<key>Mac-FA842E06C61E91C5</key>
				<string>Config2</string>
				<key>Mac-FC02E91DDD3FA6A4</key>
				<string>none</string>
			</dict>
			<key>Default</key>
			<dict>
				<key>none</key>
				<string></string>
			</dict>
			<key>IOClass</key>
			<string>AppleGraphicsDevicePolicy</string>
			<key>IOMatchCategory</key>
			<string>AppleGraphicsDevicePolicy</string>
			<key>IOProviderClass</key>
			<string>AppleGraphicsDeviceControl</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>11.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>6.2.9, Copyright © 2008-2022 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.AppleGraphicsDeviceControl</key>
		<string>1.0</string>
		<key>com.apple.driver.AppleGraphicsControl</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0d1</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.3.1</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.3.1</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.3.1</string>
		<key>com.apple.kpi.mach</key>
		<string>8.3.1</string>
		<key>com.apple.kpi.private</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.3.1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
