<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>AGDP-Override</string>
	<key>CFBundleIdentifier</key>
	<string>com.dortania.AGDP-Override</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AGDP-Override</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>9.9.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>9.9.9</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleGraphicsDevicePolicy</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleGraphicsDevicePolicy</string>
			<key>Config1</key>
			<dict>
				<key>GFX1</key>
				<dict>
					<key>unload</key>
					<true/>
				</dict>
			</dict>
			<key>Config2</key>
			<dict>
				<key>GFX0</key>
				<dict>
					<key>EDID</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
					</dict>
					<key>FeatureControl</key>
					<integer>12</integer>
					<key>unload</key>
					<false/>
				</dict>
			</dict>
			<key>Config3</key>
			<dict>
				<key>GFX0</key>
				<dict>
					<key>EDID</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
					</dict>
					<key>FeatureControl</key>
					<integer>12</integer>
					<key>unload</key>
					<false/>
				</dict>
				<key>IGPU</key>
				<dict>
					<key>unload</key>
					<true/>
				</dict>
			</dict>
			<key>Config4</key>
			<dict>
				<key>GFX0</key>
				<dict>
					<key>EDID</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
					</dict>
					<key>FeatureControl</key>
					<integer>12</integer>
					<key>unload</key>
					<false/>
				</dict>
				<key>IGPU</key>
				<dict>
					<key>unload</key>
					<true/>
				</dict>
				<key>display</key>
				<dict>
					<key>EDID</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
					</dict>
					<key>FeatureControl</key>
					<integer>12</integer>
					<key>unload</key>
					<false/>
				</dict>
			</dict>
			<key>ConfigMap</key>
			<dict>
				<key>iMac13,1</key>
				<string>none</string>
				<key>iMac13,2</key>
				<string>none</string>
				<key>iMac14,1</key>
				<string>Config2</string>
				<key>iMac14,2</key>
				<string>none</string>
				<key>iMac14,3</key>
				<string>none</string>
				<key>iMac14,4</key>
				<string>Config2</string>
				<key>iMac15,1</key>
				<string>Config2</string>
				<key>iMac17,1</key>
				<string>Config2</string>
				<key>iMac18,2</key>
				<string>Config3</string>
				<key>iMac18,3</key>
				<string>Config3</string>
				<key>iMac19,1</key>
				<string>Config3</string>
				<key>iMac19,2</key>
				<string>Config3</string>
				<key>iMac20,1</key>
				<string>Config3</string>
				<key>iMac20,2</key>
				<string>Config3</string>
				<key>iMacPro1,1</key>
				<string>Config4</string>
				<key>MacPro6,1</key>
				<string>Config1</string>
				<key>MacBookPro9,1</key>
				<string>none</string>
				<key>MacBookPro10,1</key>
				<string>none</string>
			</dict>
			<key>Default</key>
			<dict>
				<key>none</key>
				<string></string>
			</dict>
			<key>IOClass</key>
			<string>AppleGraphicsDevicePolicy</string>
			<key>IOMatchCategory</key>
			<string>AppleGraphicsDevicePolicy</string>
			<key>IOProviderClass</key>
			<string>AppleGraphicsDeviceControl</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>11.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © Dortania</string>
	<key>#OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleGraphicsDevicePolicy</key>
		<string>5.2.7</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
