/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$bodyFontSize = 16px
$fallbackTheme = 'dark'
$dropShadowColor = #111112

// Light Theme
$accentColor = #19b3e7
$textColor = #2c3e50
$bodyBgColor = #fff
$sideBgColor = #fff
$badgeTipColor = #caf2ff

// Dark Theme
$accentColorDark = #30BCD5
$textColorDark = #ccc
$bodyBgColorDark = #2d3033
$sideBgColorDark = #363b40
$badgeTipColorDark = #023e52

$contentWidth = 900px