<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16B2657</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AMD6000Controller</string>
	<key>CFBundleGetInfoString</key>
	<string>AMD6000Controller 1.66.42 19699</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.kext.AMD6000Controller</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Radeon HD 6000 Controller</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.66.42</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.6.6</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9P107g</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17F68</string>
	<key>DTSDKName</key>
	<string>macosx10.13internal</string>
	<key>DTXcode</key>
	<string>0930</string>
	<key>DTXcodeBuild</key>
	<string>9P107g</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Controller</key>
		<dict>
			<key>ATY,Gibba</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_NO_HDCP</key>
					<true/>
					<key>CFG_NO_PP</key>
					<false/>
				</dict>
			</dict>
			<key>ATY,Lotus</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_GEN_FLAGS</key>
					<integer>1</integer>
					<key>CFG_USE_STUTTER</key>
					<true/>
				</dict>
			</dict>
			<key>ATY,Muskgrass</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_GEN_FLAGS</key>
					<integer>1</integer>
					<key>CFG_USE_STUTTER</key>
					<true/>
				</dict>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMD6000Controller</string>
			<key>IOClass</key>
			<string>AMD6000Controller</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOName</key>
			<string>AMD6000Controller</string>
			<key>IOPCIMatch</key>
			<string>0x67681002 0x67701002 0x67791002 0x67601002 0x67611002 0x67501002 0x67581002 0x67591002 0x67401002 0x67411002 0x67451002 0x67381002 0x67391002 0x67201002 0x67221002 0x67181002 0x67191002 0x68401002 0x68411002 0x67041002</string>
			<key>IOProbeScore</key>
			<integer>65050</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_CAA</key>
				<integer>0</integer>
				<key>CFG_CAIL_CAPS</key>
				<integer>0</integer>
				<key>CFG_FB_LIMIT</key>
				<integer>0</integer>
				<key>CFG_GEN_FLAGS</key>
				<integer>0</integer>
				<key>CFG_GRPH_CONTROL_DIS</key>
				<integer>40964</integer>
				<key>CFG_INTERNAL_1080P</key>
				<true/>
				<key>CFG_INT_SSPC</key>
				<integer>25</integer>
				<key>CFG_NO_HDCP</key>
				<false/>
				<key>CFG_NO_PP</key>
				<false/>
				<key>CFG_SURFACE_INFO_DIS</key>
				<integer>1703936</integer>
				<key>CFG_USE_FBC</key>
				<false/>
				<key>CFG_USE_STUTTER</key>
				<false/>
				<key>DALReadDelayStutterOff</key>
				<integer>4</integer>
				<key>DALUseUrgencyWaterMarkOffset</key>
				<integer>0</integer>
			</dict>
			<key>aty_properties</key>
			<dict>
				<key>PP_ActivitySamplingInterval</key>
				<integer>1000</integer>
				<key>PP_DisablePowerContainment</key>
				<integer>0</integer>
				<key>PP_HighSamplingInterval</key>
				<integer>200000</integer>
				<key>PP_MCLKStutterModeThreshold</key>
				<integer>30000</integer>
				<key>PP_R600ActivityHysteresis</key>
				<integer>5</integer>
				<key>PP_R600LoweringHighPercentage</key>
				<integer>25</integer>
				<key>PP_R600LoweringMediumPercentage</key>
				<integer>10</integer>
				<key>PP_R600RaisingLowPercentage</key>
				<integer>10</integer>
				<key>PP_R600RaisingMediumPercentage</key>
				<integer>25</integer>
				<key>PP_R600VotingRightsClients</key>
				<integer>12583475</integer>
				<key>PP_UserMaxClockForMultiDisplays</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.2</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.3</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.2</string>
		<key>com.apple.kext.AMDLegacySupport</key>
		<string>1.6.6</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
