<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16B2657</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleHDA</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleHDA 281.52, Copyright © 2000-2017 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleHDA</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Apple HDA Driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>281.52</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>281.52</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9P107g</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17G55</string>
	<key>DTSDKName</key>
	<string>macosx10.13internal</string>
	<key>DTXcode</key>
	<string>0930</string>
	<key>DTXcodeBuild</key>
	<string>9P107g</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDA Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDA</string>
			<key>IOClass</key>
			<string>AppleHDADriver</string>
			<key>IOProbeScore</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>AppleHDACodec</string>
			<key>InputSampleLatency</key>
			<integer>0</integer>
			<key>MultiDisplayPorts</key>
			<array>
				<integer>32</integer>
				<integer>35</integer>
				<integer>66</integer>
			</array>
			<key>OutputSampleLatency</key>
			<integer>0</integer>
			<key>SampleOffsetPad</key>
			<integer>0</integer>
			<key>SystemSpecificSampleOffsetPad</key>
			<array>
				<dict>
					<key>LayoutID</key>
					<integer>8</integer>
					<key>SampleOffsetPad</key>
					<integer>260</integer>
				</dict>
			</array>
		</dict>
		<key>HDA Generic Codec Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDA</string>
			<key>IOClass</key>
			<string>AppleHDACodecGeneric</string>
			<key>IOHDACodecFunctionGroupType</key>
			<integer>1</integer>
			<key>IOProviderClass</key>
			<string>IOHDACodecFunction</string>
		</dict>
		<key>HDMI DP HDA Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDA</string>
			<key>IOClass</key>
			<string>AppleHDAHDMI_DPDriver</string>
			<key>IOProbeScore</key>
			<integer>1</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>HDMIDPAudioCapabilities</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleHDACodec</string>
			<key>InputSampleLatency</key>
			<integer>0</integer>
			<key>MultiDisplayPorts</key>
			<array>
				<integer>32</integer>
				<integer>35</integer>
				<integer>66</integer>
			</array>
			<key>OutputSampleLatency</key>
			<integer>0</integer>
			<key>SampleOffsetPad</key>
			<integer>0</integer>
			<key>SystemSpecificSampleOffsetPad</key>
			<array>
				<dict>
					<key>LayoutID</key>
					<integer>8</integer>
					<key>SampleOffsetPad</key>
					<integer>260</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>AppleHDA 281.52, Copyright © 2000-2017 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleHDAController</key>
		<string>1.7.2a1</string>
		<key>com.apple.driver.DspFuncLib</key>
		<string>1.5.2a1</string>
		<key>com.apple.iokit.IOAudioFamily</key>
		<string>200.5</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>2.0</string>
		<key>com.apple.iokit.IOHDAFamily</key>
		<string>265.88</string>
		<key>com.apple.iokit.IONDRVSupport</key>
		<string>2.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0.0</string>
	</dict>
</dict>
</plist>
