<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>AppleHDA</string>
	<key>BuildVersion</key>
	<string>186</string>
	<key>CFBundleShortVersionString</key>
	<string>281.52</string>
	<key>CFBundleVersion</key>
	<string>281.52</string>
	<key>ProjectName</key>
	<string>AppleHDA_frameworks</string>
	<key>SourceVersion</key>
	<string>281052000000000</string>
</dict>
</plist>
