<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>IOPlatformThermalProfile</key>
    <dict>
      <key>CreationDate</key>
      <string>Tue Jan 12 16:03:11 PST 2010</string>
      <key>ConfigArray</key>
      <array>
        <dict>
          <key>model</key>
          <string>iMac11,3</string>
          <key>DeepSleep</key>
          <true/>
          <key>IOPlatformSystemSleepPolicy</key>
          <data>
     U0xQVAEABgAgAAAAIAAAAAEAAAAFBQAACAAAAAgAAAABAAAAAAEAANQHAAAQAAAAAQAAAAUFAADF
     BwAAAQAAAAEAAAAFBQAAxAcAAAAAAAACAAAADRkAAAAAAAAAAAAAAAAAAA0RAAA=
     </data>
        </dict>
      </array>
      <key>ControlArray</key>
      <array>
        <dict>
          <key>Desc-Key</key>
          <string>CPU_PLIMIT</string>
          <key>IOClass</key>
          <string>AppleSMCControl</string>
          <key>control-flags</key>
          <integer>2</integer>
          <key>control-id</key>
          <integer>10</integer>
          <key>location</key>
          <string>cpu plimit</string>
          <key>type</key>
          <string>smc</string>
        </dict>
        <dict>
          <key>Desc-Key</key>
          <string>CPU_STATE</string>
          <key>IOClass</key>
          <string>AppleSMCControl</string>
          <key>control-flags</key>
          <integer>2</integer>
          <key>control-id</key>
          <integer>13</integer>
          <key>location</key>
          <string>cpu state</string>
          <key>type</key>
          <string>smc</string>
        </dict>
        <dict>
          <key>Desc-Key</key>
          <string>GPU_RANGE_CONTROL_INTERNAL</string>
          <key>IOClass</key>
          <string>IOPlatformControl</string>
          <key>control-flags</key>
          <integer>2</integer>
          <key>control-id</key>
          <integer>16</integer>
          <key>location</key>
          <string>gpu-internal</string>
          <key>type</key>
          <string>gpu-control</string>
        </dict>
        <dict>
          <key>Desc-Key</key>
          <string>GPU_RANGE_CONTROL_EXTERNAL</string>
          <key>IOClass</key>
          <string>IOPlatformControl</string>
          <key>control-flags</key>
          <integer>2</integer>
          <key>control-id</key>
          <integer>17</integer>
          <key>location</key>
          <string>gpu-external</string>
          <key>type</key>
          <string>gpu-control</string>
        </dict>
      </array>
      <key>CtrlLoopArray</key>
      <array>
        <dict>
          <key>Description</key>
          <string>SMC_CPU_Control_Loop</string>
          <key>IOClass</key>
          <string>ACPI_SMC_CtrlLoop</string>
          <key>PLimitClass</key>
          <array>
            <string>CPU</string>
          </array>
          <key>MetaStateArray</key>
          <array>
            <dict>
              <key>Description</key>
              <string>Normal</string>
            </dict>
            <dict>
              <key>Description</key>
              <string>Reduced Power</string>
            </dict>
            <dict>
              <key>Description</key>
              <string>User Low Power</string>
            </dict>
            <dict>
              <key>Description</key>
              <string>User High Power</string>
            </dict>
          </array>
          <key>PLimitDict</key>
          <dict>
            <key>iMac11,3</key>
            <integer>0</integer>
          </dict>
          <key>StepDataDict</key>
          <dict>
            <key>iMac11,3</key>
            <string>SP11</string>
            <key>SP11</key>
            <data>
XAQAAAAAAQIEAAACAgAAVQBuAHMAcABlAGMAaQBmAGkAZQBkDAAH/wcAAA0AAAACAAAB//8A/wD/
AP8A/wD/AAYAAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wAL
DwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD
/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/
AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsP
AAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/
AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8B
AAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8A
AP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8A
Cw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEA
A/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA
/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wALDwAA/wEAA/8ACw8AAP8BAAP/AAsPAAD/AQAD/wAL
DwAA/wEAA/8ACw8AAP8BAAP/AAsKAAABCgAAAQAAAAEAAAD1AAEFAAABAAAF/wABAAAAAQAAAAEG
AAACAAAABAEAAIAAwwC3AC4ANAALAAAAAgAAAAEAAAABAAAAAgAAAAICAAACBgAAAQAAAAEAAAD1
AAEFAAADAAAF/wADAgAAAwYAAAkAAAAEAAAAZAYAAAQAAAX/AAMAAAABAAAABAQAAIAAAAAKCgAA
CAAAAAUAAAAIAAAABQAAAAMAAAACAAAABQYAAAcAAAABAAAA9QABBQAABgAABf8AAwAAAAMAAAAG
BgAAAgAAAAQAAACgAA8FAAAHBAAABwAAAAMAAAAEAAAABwYAAAgKAAADAAAF/wAEAgAACAYAAAEA
AAABAAAA9AABBQAACQAABf8ABQIAAAkGAAACAAAABAEAAIAAwwC3AC4ANAALAAAACQAAAAoAAAAJ
AAAACgAAAAUAAAABAAAACgYAAAcAAAABAAAA9QABBQAACwAABf8ABQAAAAIAAAALBgAAAgAAAAQA
AACgAA8FAAAMBAAADAAAAAUAAAADAAAADAYAAAgKAAAJAAAF/w==
</data>
          </dict>
          <key>ctrlloop-id</key>
          <integer>0</integer>
          <key>is-state-driven</key>
          <integer>1</integer>
        </dict>
        <dict>
          <key>ControlIDArray</key>
          <array>
            <integer>16</integer>
            <integer>17</integer>
            <integer>18</integer>
          </array>
          <key>Description</key>
          <string>SMC_GPU_Range_Control_Loop</string>
          <key>GPUControlInfoDict</key>
          <dict>
            <key>iMac11,3</key>
            <string>CIA4</string>
            <key>CIA4</key>
            <array>
              <integer>3</integer>
              <integer>1</integer>
              <integer>1</integer>
            </array>
          </dict>
          <key>IOClass</key>
          <string>ACPI_SMC_GPU_CtrlLoop</string>
          <key>PLimitClass</key>
          <array>
            <string>GPU</string>
          </array>
          <key>MetaStateArray</key>
          <array>
            <dict>
              <key>Description</key>
              <string>Normal</string>
            </dict>
            <dict>
              <key>Description</key>
              <string>Reduced Power</string>
            </dict>
            <dict>
              <key>Description</key>
              <string>User Low Power</string>
            </dict>
            <dict>
              <key>Description</key>
              <string>User High Power</string>
            </dict>
          </array>
          <key>ctrlloop-id</key>
          <integer>3</integer>
        </dict>
      </array>
    </dict>
  </dict>
</plist>
