<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16B2657</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleHDAController</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleHDAController 281.52, Copyright © 2000-2017 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleHDAController</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HDA Controller Driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>281.52</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>281.52</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9P107g</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17G55</string>
	<key>DTSDKName</key>
	<string>macosx10.13internal</string>
	<key>DTXcode</key>
	<string>0930</string>
	<key>DTXcodeBuild</key>
	<string>9P107g</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>BuiltInHDA</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAController</string>
			<key>CodecAddressFilterArray</key>
			<array>
				<dict>
					<key>CodecAddressMask</key>
					<data>
					AQAAAA==
					</data>
					<key>LayoutID</key>
					<integer>16392</integer>
					<key>PCIVendorDeviceID</key>
					<integer>282987200</integer>
				</dict>
				<dict>
					<key>CodecAddressMask</key>
					<data>
					AQAAAA==
					</data>
					<key>LayoutID</key>
					<integer>0</integer>
					<key>PCIVendorDeviceID</key>
					<integer>282987200</integer>
				</dict>
				<dict>
					<key>CodecAddressMask</key>
					<data>
					CQAAAA==
					</data>
					<key>LayoutID</key>
					<integer>65</integer>
					<key>PCIVendorDeviceID</key>
					<integer>282987200</integer>
				</dict>
				<dict>
					<key>CodecAddressMask</key>
					<data>
					AQAAAA==
					</data>
					<key>LayoutID</key>
					<integer>73</integer>
					<key>PCIVendorDeviceID</key>
					<integer>282987200</integer>
				</dict>
			</array>
			<key>DPAlwaysDisplayRouting</key>
			<array>
				<integer>3</integer>
				<integer>33</integer>
				<integer>35</integer>
				<integer>88</integer>
			</array>
			<key>DPAudioDeviceExclusion</key>
			<array>
				<dict>
					<key>ManufacturerID</key>
					<integer>1552</integer>
					<key>ProductID</key>
					<integer>10130</integer>
				</dict>
			</array>
			<key>HighFIFOLimitSupport</key>
			<array/>
			<key>HwFactoryPrefixTranslation</key>
			<array>
				<dict>
					<key>LayoutID</key>
					<integer>78</integer>
					<key>SourceDID</key>
					<integer>43584</integer>
					<key>StandInDID</key>
					<integer>43568</integer>
					<key>VID</key>
					<integer>4098</integer>
				</dict>
				<dict>
					<key>LayoutID</key>
					<integer>78</integer>
					<key>SourceDID</key>
					<integer>43576</integer>
					<key>StandInDID</key>
					<integer>43568</integer>
					<key>VID</key>
					<integer>4098</integer>
				</dict>
				<dict>
					<key>LayoutID</key>
					<integer>79</integer>
					<key>SourceDID</key>
					<integer>43584</integer>
					<key>StandInDID</key>
					<integer>43568</integer>
					<key>VID</key>
					<integer>4098</integer>
				</dict>
				<dict>
					<key>LayoutID</key>
					<integer>79</integer>
					<key>SourceDID</key>
					<integer>43576</integer>
					<key>StandInDID</key>
					<integer>43568</integer>
					<key>VID</key>
					<integer>4098</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDAController</string>
			<key>IOPCIClassMatch</key>
			<string>0x04010000&amp;0xFFFD0000</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>RequireMaxBusStall</key>
			<array>
				<dict>
					<key>Layouts</key>
					<array/>
					<key>MaxBusStall</key>
					<integer>15000</integer>
				</dict>
			</array>
		</dict>
		<key>BuiltInHDA9D70</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAController</string>
			<key>DPAlwaysDisplayRouting</key>
			<array>
				<integer>3</integer>
				<integer>33</integer>
				<integer>35</integer>
				<integer>88</integer>
			</array>
			<key>DPAudioDeviceExclusion</key>
			<array>
				<dict>
					<key>ManufacturerID</key>
					<integer>1552</integer>
					<key>ProductID</key>
					<integer>10130</integer>
				</dict>
			</array>
			<key>HighFIFOLimitSupport</key>
			<array/>
			<key>HwFactoryPrefixTranslation</key>
			<array>
				<dict>
					<key>LayoutID</key>
					<integer>78</integer>
					<key>SourceDID</key>
					<integer>43584</integer>
					<key>StandInDID</key>
					<integer>43568</integer>
					<key>VID</key>
					<integer>4098</integer>
				</dict>
				<dict>
					<key>LayoutID</key>
					<integer>78</integer>
					<key>SourceDID</key>
					<integer>43576</integer>
					<key>StandInDID</key>
					<integer>43568</integer>
					<key>VID</key>
					<integer>4098</integer>
				</dict>
				<dict>
					<key>LayoutID</key>
					<integer>79</integer>
					<key>SourceDID</key>
					<integer>43584</integer>
					<key>StandInDID</key>
					<integer>43568</integer>
					<key>VID</key>
					<integer>4098</integer>
				</dict>
				<dict>
					<key>LayoutID</key>
					<integer>79</integer>
					<key>SourceDID</key>
					<integer>43576</integer>
					<key>StandInDID</key>
					<integer>43568</integer>
					<key>VID</key>
					<integer>4098</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDA8086_9D70Controller</string>
			<key>IONameMatch</key>
			<array>
				<string>pci8086,9d70</string>
			</array>
			<key>IOProbeScore</key>
			<integer>2</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>RequireMaxBusStall</key>
			<array>
				<dict>
					<key>Layouts</key>
					<array/>
					<key>MaxBusStall</key>
					<integer>15000</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>AppleHDAController 281.52, Copyright © 2000-2017 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0d1</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOAudioFamily</key>
		<string>200.5</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>2.0</string>
		<key>com.apple.iokit.IOHDAFamily</key>
		<string>265.88</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>12.0</string>
	</dict>
</dict>
</plist>
