<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16B2657</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AMDRadeonX4200HWLibs</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.kext.AMDRadeonX4200HWLibs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AMDRadeonX4200HWLibs</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9P107g</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17F68</string>
	<key>DTSDKName</key>
	<string>macosx10.13internal</string>
	<key>DTXcode</key>
	<string>0930</string>
	<key>DTXcodeBuild</key>
	<string>9P107g</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AMDRadeonHWLibs</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMDRadeonX4200HWLibs</string>
			<key>IOClass</key>
			<string>AMDRadeonX4200_AMDRadeonHWLibs</string>
			<key>IOMatchCategory</key>
			<string>AMDRadeonHWLibs</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>10</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadPlugIn</key>
				<string>Load4200</string>
			</dict>
			<key>IOProviderClass</key>
			<string>AMDRadeonX4000_AMDRadeonHWServicesInterface</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 AMD. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.9</string>
		<key>com.apple.kpi.bsd</key>
		<string>16.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>16.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>16.0</string>
		<key>com.apple.kpi.mach</key>
		<string>16.0</string>
	</dict>
</dict>
</plist>
