<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>GPUDriversIntel</string>
	<key>BuildVersion</key>
	<string>5</string>
	<key>CFBundleShortVersionString</key>
	<string>10.34.27</string>
	<key>CFBundleVersion</key>
	<string>10.3.4</string>
	<key>ProjectName</key>
	<string>GPUDriversIntel</string>
	<key>SourceVersion</key>
	<string>10034027000000</string>
</dict>
</plist>
