<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16B2657</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleMikeyDriver</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleMikeyDriver 281.52, Copyright © 2000-2017 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleMikeyDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Apple Mikey Driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>281.52</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>281.52</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9P107g</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17G55</string>
	<key>DTSDKName</key>
	<string>macosx10.13internal</string>
	<key>DTXcode</key>
	<string>0930</string>
	<key>DTXcodeBuild</key>
	<string>9P107g</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleMikeyDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleMikeyDriver</string>
			<key>IOClass</key>
			<string>AppleMikeyDriver</string>
			<key>IONameMatch</key>
			<array>
				<string>mikey</string>
				<string>MKY0</string>
				<string>MKY1</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleSMBusDevice</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>AppleMikeyDriver 281.52, Copyright © 2000-2017 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleSMBusController</key>
		<string>1.0.1d0</string>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.2.0a1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0b3</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b3</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b3</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b3</string>
	</dict>
</dict>
</plist>
