<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16B2657</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleHDAHardwareConfigDriver</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleHDAHardwareConfigDriver 281.52, Copyright © 2000-2017 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleHDAHardwareConfigDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HDA Hardware Config Driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>281.52</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>281.52</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9P107g</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17G55</string>
	<key>DTSDKName</key>
	<string>macosx10.13internal</string>
	<key>DTXcode</key>
	<string>0930</string>
	<key>DTXcodeBuild</key>
	<string>9P107g</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDA Hardware Config Resource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAHardwareConfigDriver</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269714441</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>ConfigData</key>
					<data>
					AiccQAInHQACJx7GAicf0A==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>121</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>ConfigData</key>
					<data>
					AiccQAInHQACJx7GAicf0A==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>127</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>ConfigData</key>
					<data>
					AiccQAInHQACJx7GAicf0A==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>129</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>CodecID</key>
					<integer>283904133</integer>
					<key>ConfigData</key>
					<data>
					AYccQAGHHXABhx4hAYcfAQGnHDABpx0BAace
					EwGnH5ABlxwQAZcdMQGXHoEBlx8BAVccUAFX
					HUEBVx4BAVcfAQH3HCAB9x3hAfcexQH3HwEB
					5xxgAecd4QHnHkUB5x8BAUcc8AFHHQABRx4A
					AUcfQAFnHPABZx0AAWceAAFnH0ABdxzwAXcd
					AAF3HgABdx9AAbcc8AG3HQABtx4AAbcfQAHH
					HPABxx0AAcceAAHHH0AB1xzwAdcdAAHXHgAB
					1x9A
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>2206496384</integer>
					<key>ConfigData</key>
					<data>
					ALccQAC3HXAAtx4hALcfAQDHHDAAxx0BAMce
					EwDHH5AA9xwQAPcdMAD3HoEA9x8BAKccUACn
					HUAApx4BAKcfAQEXHCABFx3gARcexQEXHwEB
					BxxgAQcd4AEHHkUBBx8BANccDwDXHQAA1x4A
					ANcfQADnHA8A5x0AAOceAADnH0ABVxwPAVcd
					AAFXHgABVx9AAbccDwG3HQABtx4AAbcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>ConfigData</key>
					<data>
					ABcgAAAXIQAAFyJrABcjEACXHFAAlx1wAJce
					IQCXHwEApxxBAKcdYQCnHhAApx+QALccQAC3
					HWEAtx4QALcfkADHHCAAxx0BAMcegQDHH5EA
					1xwQANcdAQDXHqAA1x+QAOcc8ADnHQAA5x4A
					AOcfQAD3HDAA9x0BAPcexQD3HwEBBxxgAQcd
					AQEHHkUBBx8BAScc8AEnHQABJx4AAScfQAFX
					HPABVx0AAVceAAFXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>ConfigData</key>
					<data>
					APccQAD3HQAA9x7GAPcf0ACXHFAAlx0AAJce
					wACXH9A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>90</integer>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>ConfigData</key>
					<data>
					APccQAD3HQAA9x7GAPcf0ACXHFAAlx0AAJce
					wACXH9A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>92</integer>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Wolfson WM8800</string>
					<key>CodecID</key>
					<integer>451708928</integer>
					<key>ConfigData</key>
					<data>
					ABcgAAAXIQAAFyIAABcjAAEXHFABFx1AARce
					KwEXHwEBJxxAAScdAQEnHhABJx+QATccQQE3
					HQEBNx4QATcfkADXHBAA1x0BANceoADXH5AA
					xxwgAMcdMADHHosAxx8BAPccYAD3HeAA9x5L
					APcfAQEHHDABBx3gAQceywEHHwEA5xzwAOcd
					AADnHgAA5x9AAWcc8AFnHQABZx4AAWcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>-2088470912</integer>
					<key>ConfigData</key>
					<data>
					AKccUACnHUAApx4rAKcfAQC3HBAAtx0BALce
					oAC3H5AAxxxAAMcdAQDHHhAAxx+QANcc8ADX
					HQAA1x4AANcfQADnHPAA5x0AAOceAADnH0AA
					9xwgAPcdMAD3HosA9x8BAQccYAEHHeABBx5L
					AQcfAQEXHDABFx3gARceywEXHwEBVxzwAVcd
					AAFXHgABVx9AAbcc8AG3HQABtx4AAbcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>-2088470912</integer>
					<key>ConfigData</key>
					<data>
					AKccUACnHUAApx4rAKcfAQC3HBAAtx0BALce
					oAC3H5AAxxxAAMcdAQDHHhAAxx+QANccQQDX
					HQEA1x4QANcfkADnHPAA5x0AAOceAADnH0AA
					9xwgAPcdMAD3HosA9x8BAQccYAEHHeABBx5L
					AQcfAQEXHDABFx3gARceywEXHwEBVxzwAVcd
					AAFXHgABVx9AAbcc8AG3HQABtx4AAbcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>ConfigData</key>
					<data>
					APccQAD3HQAA9x7GAPcf0ACXHFAAlx0AAJce
					wACXH9A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>ConfigData</key>
					<data>
					APccQAD3HQAA9x7GAPcf0ACXHFAAlx0AAJce
					wACXH9A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>ConfigData</key>
					<data>
					APccQAD3HQAA9x7GAPcf0ACXHFAAlx0AAJce
					wACXH9A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>122</integer>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>ConfigData</key>
					<data>
					APccQAD3HQAA9x7GAPcf0ACXHFAAlx0AAJce
					wACXH9A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>130</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>-2088470912</integer>
					<key>ConfigData</key>
					<data>
					AKccQACnHUAApx4rAKcfAQC3HPAAtx0AALce
					AAC3H0AAxxwwAMcdAQDHHhAAxx+QANcc8ADX
					HQAA1x4AANcfQADnHPAA5x0AAOceAADnH0AA
					9xwQAPcdMAD3HosA9x8BAQccUAEHHeABBx5L
					AQcfAQEXHCABFx3gARceywEXHwEBVxzwAVcd
					AAFXHgABVx9AAbcc8AG3HQABtx4AAbcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>-2088470912</integer>
					<key>ConfigData</key>
					<data>
					AKccUACnHUAApx4rAKcfAQC3HBAAtx0BALce
					oAC3H5AAxxxAAMcdAQDHHhAAxx+QANccQQDX
					HQEA1x4QANcfkADnHPAA5x0AAOceAADnH0AA
					9xwgAPcdMAD3HosA9x8BAQccYAEHHeABBx5L
					AQcfAQEXHDABFx3gARceywEXHwEBVxzwAVcd
					AAFXHgABVx9AAbcc8AG3HQABtx4AAbcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904133</integer>
					<key>ConfigData</key>
					<data>
					AZcdMAH3HeE=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904133</integer>
					<key>ConfigData</key>
					<data>
					AUcc8AFHHQABRx4AAUcfQAFXHDABVx1AAVce
					AAFXHwEBZxzwAWcdAAFnHgABZx9AAXcc8AF3
					HQABdx4AAXcfQAGHHBABhx1AAYceIAGHHwEB
					lxwgAZcdMAGXHoABlx8BAaccUAGnHQEBpx4Q
					AacfkAG3HPABtx0AAbceAAG3H0ABxxzwAccd
					AAHHHgABxx9AAdcc8AHXHQAB1x4AAdcfQAHn
					HHAB5x3gAeceRQHnHwEB9xxgAfcd4AH3HsUB
					9x8B
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>36</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904133</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>63</integer>
					<key>MikeyAFGLowPowerState</key>
					<data>
					AQAAAA==
					</data>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904133</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>64</integer>
					<key>MikeyAFGLowPowerState</key>
					<data>
					AQAAAA==
					</data>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>ConfigData</key>
					<data>
					AMcdMA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>77</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>16392</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDAHardwareConfigDriverLoader</string>
			<key>PostConstructionInitialization</key>
			<array>
				<dict>
					<key>CodecID</key>
					<integer>269714441</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>0</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>36</integer>
							<key>PinConfigDefault</key>
							<integer>2834464</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>37</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>38</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>39</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>40</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>41</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>42</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>43</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>44</integer>
							<key>PinConfigDefault</key>
							<integer>2416967952</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>45</integer>
							<key>PinConfigDefault</key>
							<integer>2416967954</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>46</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>47</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>48</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>49</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>50</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>51</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>52</integer>
							<key>PinConfigDefault</key>
							<integer>11243568</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>53</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>54</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>55</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>56</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>57</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>58</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>59</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>60</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>61</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>62</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>63</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>64</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>65</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>66</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>67</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>68</integer>
							<key>PinConfigDefault</key>
							<integer>2426798336</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>69</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269714441</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>54</integer>
						<integer>55</integer>
						<integer>57</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>69</integer>
							<key>PinConfigDefault</key>
							<integer>2426405121</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>0</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>16</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>17</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>18</integer>
							<key>PinConfigDefault</key>
							<integer>2416967952</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>19</integer>
							<key>PinConfigDefault</key>
							<integer>720928</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>20</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>21</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>22</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>23</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>24</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>25</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>26</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>27</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>28</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>29</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>30</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>31</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>32</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>33</integer>
							<key>PinConfigDefault</key>
							<integer>21299248</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>34</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>114</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>19</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>29</integer>
							<key>PinConfigDefault</key>
							<integer>2416967952</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>108</integer>
						<integer>131</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>23</integer>
							<key>PinConfigDefault</key>
							<integer>9121792</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>34</integer>
							<key>PinConfigDefault</key>
							<integer>13361168</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>121</integer>
						<integer>127</integer>
						<integer>129</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>34</integer>
							<key>PinConfigDefault</key>
							<integer>13361168</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>120</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>18</integer>
							<key>PinConfigDefault</key>
							<integer>2417426704</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>121</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>34</integer>
							<key>PinConfigDefault</key>
							<integer>3502637120</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>127</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>34</integer>
							<key>PinConfigDefault</key>
							<integer>3502637120</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>129</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>34</integer>
							<key>PinConfigDefault</key>
							<integer>3502637120</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904133</integer>
					<key>Layouts</key>
					<array>
						<integer>36</integer>
						<integer>38</integer>
						<integer>52</integer>
						<integer>53</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>MicAttributes</key>
							<integer>28</integer>
							<key>MicInfo</key>
							<string>Sampled on rising edge</string>
							<key>NodeID</key>
							<integer>39</integer>
							<key>PinConfigDefault</key>
							<integer>2426405136</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>Layouts</key>
					<array>
						<integer>0</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>22</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>Layouts</key>
					<array>
						<integer>71</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>23</integer>
							<key>PinConfigDefault</key>
							<integer>2416968002</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>Layouts</key>
					<array>
						<integer>83</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>24</integer>
							<key>PinConfigDefault</key>
							<integer>2416968001</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>Layouts</key>
					<array>
						<integer>90</integer>
						<integer>92</integer>
						<integer>6</integer>
						<integer>7</integer>
						<integer>122</integer>
						<integer>130</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>24</integer>
							<key>PinConfigDefault</key>
							<integer>2416967952</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Wolfson WM8800</string>
					<key>CodecID</key>
					<integer>451708928</integer>
					<key>Layouts</key>
					<array>
						<integer>67</integer>
						<integer>73</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>MicInfo</key>
							<string>WM8800 External Microphone Virtual Pin Complex</string>
							<key>NodeID</key>
							<integer>24</integer>
							<key>PinConfigDefault</key>
							<integer>28020848</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>AppleHDAHardwareConfigDriver 281.52, Copyright © 2000-2017 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b3</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b3</string>
	</dict>
</dict>
</plist>
